name: Simple Test Workflow

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print a message
        run: echo "Hello, GitHub Actions! The workflow is triggering!"