name: Simple Test Workflow
  
on:
  push:
    branches: [ "main", "master" ]

jobs:
  test-job:
    runs-on: self-hosted
    steps:
      - name: Print a message
        run: echo "Hello, GitHub Actions! The workflow is triggering!"
